{{#if view.hasChilds }}
	{{menu-aggregator target=view.target text=view.name}}
	<ul class='list-unstyled collapse' {{bind-attr id='view.target'}} >
        {{#each view.submenus}}
          {{view 'item' model=this type_parent=view.uri}}
        {{/each}}
      </ul>
{{else}}
	{{#if view.hasTypeParent}}
		{{#link-to view.type_parent view.name}}<i class="fa fa-cog"></i>{{ view.name }}{{/link-to}}
	{{else}}
		<a {{bind-attr href=view.path}}>
			<i class="fa fa-cog"></i> {{ view.name }}
		</a>
	{{/if}}
{{/if}}