{{view 'breadcrumb' paths='Serviços' page=name model=this}}

{{#if controllers.admin.logged}}
  {{view 'taskbar'}}
{{/if}}

<h2>
  {{name}}
</h2>

<div class='service-body panel panel-default'>
	<div  class='panel-heading'>
		<span>Rota:</span>
		<em>{{routePrefix}}</em>
	</div>
	<div class='panel-body'>
		<table class='table table-striped table-condensed table-hover'>
			<thead>
				<tr>
					<th>
						Verbo
					</th>
					<th>
						Rota
					</th>
				</tr>
			<thead>
			<tbody>
				{{#each httpVerbs}}
					<tr {{ action 'goToHttpVerb' this }}>
						<td>
							{{verb}}
						</td>
						<td>
							{{route}}
						</td>
					</tr>
				{{else}}
					<tr>
						<td colspan='2' class='message-table'>
							Não existem serviços cadastrados
						</td>
					</tr>
				{{/each}}
			</tbody>
			<tfooter></tfooter>
		</table>
	</div>
</div>